<div class="featured-items">
  <div class="heading">
    <h1>{{ section.settings.featured_items_heading }}</h1>
  </div>
  <div class="products_container">
    {% for product in collections.featured-items.products %}
      <div class="product">
        <img class="product_image" src="{{ product.featured_image | img_url: '270x405' }}" alt="{{ product.title }}" >          
      </div>
    {% endfor %}
  </div>  
</div>

{% schema %}
  {
    "name": {
      "en": "Featured Items"
    },
    "settings": [
      {
        "type": "text",
        "id": "featured_items_heading",
        "label": {
          "en": "Heading"
        },
        "default": {
          "en": "Featured Items"
        }
      }
    ],
    "presets": [
      {
        "name": "Featured Items",
        "category": "Collection"
      }
    ]
  }
{% endschema %}