<style>
  .active {
    color: #e13ed7 !important;
    border-bottom: 2px solid #767070;
  }

  .filter:hover {
    cursor: pointer;
  }

</style>

<div class="featured-items">
  <div class="heading_container">
    <h2 class="heading">{{ section.settings.featured_items_heading }}</h2>
    <div class="filters_container">
      <h6 class="filter" id="all">All</h6>
      <h6 class="filter" id="men">Men</h6>
      <h6 class="filter" id="women">Women</h6>
      <h6 class="filter" id="kids">Kids</h6>
    </div>
  </div>
</div>

<div id="featured_content">
  <div id="all_content">{% include 'all-featured-items' %}</div>
  <div id="men_content">{% include 'men-products' %}</div>
  <div id="women_content">{% include 'women-products' %}</div>
  <div id="kids_content">{% include 'kids-products' %}</div>
</div>



<script>
  $(document).ready(function() {
    // Show women items on page load and hide the other product snippets
    $("#all_content, #men_content, #kids_content").hide();
    $("#women").addClass('active');
    $("#all, #men, #kids").removeClass('active');
  });

  $("#all").click(function() {
    $("#all_content").show();
    $("#men_content, #women_content, #kids_content").hide();
    $("#all").addClass('active');
    $("#men, #women, #kids").removeClass('active');
  });

  $("#men").click(function() {
    $("#men_content").show();
    $("#all_content, #women_content, #kids_content").hide();
    $("#men").addClass('active');
    $("#all, #women, #kids").removeClass('active');
  });

  $("#women").click(function() {
    $("#women_content").show();
    $("#all_content, #men_content, #kids_content").hide();
    $("#women").addClass('active');
    $("#all, #men, #kids").removeClass('active');
  });

  $("#kids").click(function() {
    $("#kids_content").show();
    $("#all_content, #men_content, #women_content").hide();
    $("#kids").addClass('active');
    $("#all, #men, #women").removeClass('active');
  });

</script>



{% schema %}
  {
    "name": {
      "en": "Featured Items"
    },
    "settings": [
      {
        "type": "text",
        "id": "featured_items_heading",
        "label": {
          "en": "Heading"
        },
        "default": {
          "en": "Featured Items"
        }
      }
    ],
    "presets": [
      {
        "name": "Featured Items",
        "category": "Collection"
      }
    ]
  }
{% endschema %}