<div class="featured-items"></div>

{% schema %}
  {
    "name": {
      "en": "Featured Items"
    },
    "settings": [
      {
        "type": "text",
        "id": "featured_items_heading",
        "label": {
          "en": "Heading"
        },
        "default": {
          "en": "Featured Items"
        }
      }
    ]
  }
{% endschema %}