<footer class="site-footer small--text-center" role="contentinfo" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <div class="wrapper">
    <p>TEST</p>

    {% for link in linklists.shops-menu.links %}
      <a href="{{ link.url }}">{{ link.title }}</a>
    {% endfor %}

  </div>
</footer>



{% schema %}
{
  "name": {
    "cs": "Zápatí",
    "da": "Sidefod",
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fi": "Alatunniste",
    "fr": "Pied de page",
    "hi": "फुटर",
    "it": "Footer",
    "ja": "フッター",
    "ko": "바닥글",
    "nb": "Footer",
    "nl": "Voettekst",
    "pl": "Stopka",
    "pt-BR": "Rodapé",
    "pt-PT": "Rodapé",
    "sv": "Sidfot",
    "th": "ส่วนท้าย",
    "tr": "Altbilgi",
    "vi": "Chân trang",
    "zh-CN": "页脚",
    "zh-TW": "頁尾"
  },
  "settings": [
    {
      "type": "header",
      "content": {
        "cs": "Nabídka",
        "da": "Menu",
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fi": "Valikko",
        "fr": "Menu",
        "hi": "मेनू",
        "it": "Menu",
        "ja": "メニュー",
        "ko": "메뉴",
        "nb": "Meny",
        "nl": "Menu",
        "pl": "Menu",
        "pt-BR": "Menu",
        "pt-PT": "Menu",
        "sv": "Meny",
        "th": "เมนู",
        "tr": "Menü",
        "vi": "Menu",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      }
    },
    {
      "type": "link_list",
      "id": "footer_link_list",
      "label": {
        "cs": "Nabídka v zápatí",
        "da": "Sidefodsmenu",
        "de": "Fußzeilenmenü",
        "en": "Footer menu",
        "es": "Menú inferior",
        "fi": "Alatunniste-valikko",
        "fr": "Menu pied de page",
        "hi": "फुटर मेनू",
        "it": "Menu footer",
        "ja": "フッターメニュー",
        "ko": "바닥글 메뉴",
        "nb": "Bunntekstmeny",
        "nl": "Voettekstmenu",
        "pl": "Menu stopki",
        "pt-BR": "Menu de rodapé",
        "pt-PT": "Menu do rodapé",
        "sv": "Sidfotsmeny",
        "th": "เมนูส่วนท้าย",
        "tr": "Altbilgi menüsü",
        "vi": "Menu chân trang",
        "zh-CN": "页脚菜单",
        "zh-TW": "頁尾選單"
      },
      "default": "footer"
    }
  ]
}
{% endschema %}
