<div class="highlights">
  <div class="grid-wrapper">
    <div class="grid-number">1</div>
    <div class="grid-number">2</div>
    <div class="grid-number">3</div>
    <div class="grid-number">4</div>
  </div>  
</div>

{% schema %}
  {
    "name": "Highlights",
    "presets": [
      {
        "name": "Highlights",
        "category": "Highlights section"
      }
    ]
  }
{% endschema %}