<div class="highlights">
  <div class="container">
    <div class="left-col">
      <div class="cell one">A</div>
      <div class="cell two">B</div>
    </div>
    <div class="right-col">
      <div class="cell one">C</div>
      <div class="cell two">D</div>
    </div>    
  </div>
</div>

{% schema %}
  {
    "name": "Highlights",
    "presets": [
      {
        "name": "Highlights",
        "category": "Highlights section"
      }
    ]
  }
{% endschema %}