{%- style -%}
  {%- assign background_image = section.settings.testimonial_background -%}

  .testimonial {
    background-image: url('{{ background_image | img_url: '1394x472' }}');
    height: 472px;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

{%- endstyle -%}

<div class="testimonial">
  <img class="quote_icon" src="https://cdn.shopify.com/s/files/1/0459/7501/1480/files/quote_icon_0739fb1e-747a-4fb7-95fe-26f07e11986c.png?v=1602553550" alt="quote icon">
</div>

{% schema %}
  {
    "name": "Testimonial",
    "settings": [
      {
        "id": "testimonial_background",
        "type": "image_picker",
        "label": "Background Image"
      }
    ],
    "presets": [
      {
        "name": "Testimonial",
        "category": "Testimonial section"
      }
    ]
  }
{% endschema %}