<!-- /templates/page.liquid -->
<div class="grid">
  <div class="grid__item large--five-sixths push--large--one-twelfth">

    <header class="section-header text-center">
      <h1 class="heading">{{ page.title }}</h1>
    </header>

    <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images">
          {% if page.title == "Women" %}
            {% include 'women-products' %}
          {% elsif page.title == "Men" %}
            {% include 'men-products' %}
          {% else %}
            {{ page.content }}
          {% endif %}
        </div>
      </div>
    </div>

  </div>
</div>
